/* your style begins here */
	body{
		background-color: #212121;
	}
	#headlines {
		margin: auto;
		margin-top: 200px;
		width: 1000px;
		cursor: pointer;
		font-size: 40px;
		 -webkit-transform-style: preserve-3d;
		-webkit-perspective: 1000;
		transform-style: preserve-3d;
		perspective: 5000px;
		perspective-origin: 20% -200%;
		position: absolute;
		color: white;

	}

	.main-sentence {
		float: left;
	}

	.related-action {

		display: block;
		position: absolute;

    	-webkit-transform-style: preserve-3d;
    	transform-style: preserve-3d;



	}